body {
    font-family: Arial, sans-serif;
    background-color: #f995d6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #b73c8f;
    padding-right: 15px;
}

input[type="text"], input[type="number"], button {
    margin: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff; 
    color: #f572cd; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, button:focus {
    outline: none;
}

input[type="text"]::placeholder {
    color: #b73c8f; 
}

button:hover {
    background-color: #6b224e; 
}

#result {
    margin-top: 20px;
    color: #b73c8f; 
}